.gutenlayouts-modal__icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    padding-top: 24px;

    &-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        border-radius: 6px;
        height: auto;
        flex: 1;
        .icon-title {
            color: #757575;
            font-size: 12px;
            margin-top: 12px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        &:hover {
            background-color: #145cd1 !important;
            .icon-title {
                color: #fff;
            }
        }

        &.is-selected {
            background-color: #145cd1 !important;
            .icon-title {
                font-weight: 400;
                color: #fff;
            }
        }
    }

    @media (max-width: 779px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 479px) {
        grid-template-columns: repeat(2, 1fr);
    }
}
.gutenlayouts-modal__custom-svg {
    display: flex;
    padding: 24px 0;
    gap: 24px;
    height: 100%;

    &-editor {
        height: 100%;
        flex: 1;
        .components-base-control {
            display: flex;
            flex-direction: column;
            height: 100%;
            &__field {
                flex: 1;
                display: flex;
                flex-direction: column;
                textarea {
                    flex: 1;
                }
            }
        }
    }

    &-preview {
        height: 100%;
        width: 360px;
        display: flex;
        flex-direction: column;
        .gutenlayouts-icon-preview-container {
            flex: 1;
        }

        h3 {
            font-size: 11px;
            font-weight: 500;
            line-height: 1.4;
            text-transform: uppercase;
            display: block;
            margin: 0 0 8px 0;
            padding: 0px;
        }
    }

    &-controls {
        padding: 24px 0;
    }
}
